<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>银行账户明细</title>
    <!-- 此文件为了显示Demo样式，项目中不需要引入 -->
    <link href="/assets/css/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/main-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/diy.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="demo-content">
        <div class="row">
            <div class="span30 doc-content">
                <form id="searchForm" class="form-panel" tabindex="0" style="outline: none;">
                    <ul class="panel-content">
                        <li>
                            <label>账户名称：</label><input type="text" name="accounts">
                            <label>开户银行：</label><input type="text" name="bankName">
                            <label>银行代号：</label><input type="text" name="bankCode">
                            <label>银行卡号：</label><input type="text" name="bankNum">
                            <button type="submit" class="button button-primary">查询</button>
                            <a class="button" href="javascript:;" onclick="add()">新增银行账户</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
        <div class="search-grid-container">
            <div id="grid">
            </div>
        </div>
    </div>
    <script id="formTemp" type="text/template">   
        <form class="form-horizontal" id="accountsBankInfoForm">
            <input id="userID" name="userID" type="hidden">
            <input id="accounts" name="accounts" type="hidden">
            <input id="bankName" name="bankName" type="hidden">
            <div class="control-group">
                <label class="control-label">账户名称：</label>
                <div class="controls">
                    @DataHelpers.GenerateAccount()
                    <span style="color:red;display:none;">请选择账户</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">开户银行：</label>
                <div class="controls">@DataHelpers.GenerateBlankType()
                    <span style="color:red;display:none;">请选择开户银行</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">银行代号：</label>
                <div class="controls"><input placeholder="银行代号" id="bankCode" name="bankCode" class="input-normal control-text" readonly type="text">
                
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">银行卡号：</label>
                <div class="controls"><input placeholder="银行卡号"  id="bankNum" name="bankNum" class="input-normal control-text" type="text">
                    <span style="color:red;display:none;">银行卡号不能为空</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">银行开户名称：</label>
                <div class="controls"><input placeholder="银行开户名称"  id="bankUserName" name="bankUserName" class="input-normal control-text" type="text">
                    <span style="color:red;display:none;">银行开户名称不能为空</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">银行地址：</label>
                <div class="controls"><input placeholder="银行地址"  id="bankAddress" name="bankAddress" class="input-normal control-text" type="text">
                    <span style="color:red;display:none;">银行地址不能为空</span>
                </div>
            </div>
        </form>
    </script>
    <script type="text/javascript" src="/Assets/Js/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="/Assets/Js/bui.js"></script>
    <script type="text/javascript" src="/Assets/Js/config.js"></script>
    <script src="/Assets/Js/common/common.js"></script>
    <script src="/Assets/Js/page/accountsBankInfo.js"></script>
</body>
</html>
